<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900466540912-ho6k7cbjr1kosjg46jj090v97d05r24s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900466540912-ho6k7cbjr1kosjg46jj090v97d05r24s</string>
	<key>API_KEY</key>
	<string>AIzaSyACQjgYzN37d2HDpy1AGQDoxtv5wYZNlU4</string>
	<key>GCM_SENDER_ID</key>
	<string>900466540912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stressout</string>
	<key>PROJECT_ID</key>
	<string>stressout-faf40</string>
	<key>STORAGE_BUCKET</key>
	<string>stressout-faf40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900466540912:ios:61c1b8d623efde35028fb5</string>
</dict>
</plist>